.form {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 32px;
}

.form input {
  border: 1px solid #808080;
  padding: 8px 16px;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
}

.load-more,
.form button {
  border: transparent;
  border-radius: 8px;
  padding: 8px 16px;

  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;

  transition: background-color 0.3s ease;
}

.hidden {
  display: none;
}

.load-more:hover,
.form button:hover {
  background-color: #6c8cff;
}

.load-more {
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.gallery-item {
  display: block;
  border: 1px solid #808080;
  transition: all 250ms ease-in-out;
  opacity: 0.9;
}

.gallery-item:hover {
  opacity: 1;
  scale: 1.03;
}

.gallery-link img {
  cursor: zoom-in;
  width: 360px;
  height: 152px;

  object-fit: cover;
}

.image-descr {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
}

.image-subtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image-subtitle-quantity {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* iziToast */

.iziToast-capsule .iziToast.iziToast-color-orange {
  background: none;
  background-color: #ef4040;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
}

.iziToast-body .iziToast-texts .iziToast-message.slideIn {
  max-width: 322px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fafafb;
  margin: 0;
}

.iziToast-capsule .iziToast > .iziToast-body .iziToast-icon.ico-warning {
  background-image: url(../img/icon-close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.iziToast-capsule .iziToast > .iziToast-close {
  background-image: url(../img/btn-close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}
